<div class="down-div container-fluid"></div>
<footer class="bg-black container-fluid d-flex flex-column justify-content-center gap-5">
    <div class="d-flex container-xxl justify-content-around gap-2">
        <div class="d-flex gap-3 social-networks-div flex-wrap">
            <a class="inst" href="">Instagram</a>
            <a class="fb" href="">Facebook</a>
            <a class="tw" href="">Twitter</a>
            <a class="tk" href="">Tiktok</a>
            <a class="yt" href="">YouTube</a>
        </div>
        <div class="d-flex gap-3 flex-wrap text-center">
            <a class="text-white text-decoration-none" href="">Terms & Conditions</a>
            <a class="text-white text-decoration-none" href="">Shipping & Returns</a>
            <a class="text-white text-decoration-none" href="">Privacy Policy</a>
        </div>
    </div>
    <div class="line container-xxl"></div>
    <div class="container-xxl d-flex justify-content-around gap-2">
        <div class="text-white">© 2035 by TrackMate. Powered and secured by <a class="text-white"
                href="https://github.com/Jadenco13">Jado</a></div>
        <div class="d-flex gap-2 flex-wrap">
            <img src="/card-imgs/amex.avif" alt="">
            <img src="/card-imgs/Diners.avif" alt="">
            <img src="/card-imgs/Discover.avif" alt="">
            <img src="/card-imgs/jcb.avif" alt="">
            <img src="/card-imgs/mastercard.avif" alt="">
            <img src="/card-imgs/PayPal.avif" alt="">
            <img src="/card-imgs/unionPay.avif" alt="">
            <img src="/card-imgs/Visa.avif" alt="">
        </div>
    </div>
</footer>