<div class="w-100 text-center pt-5">
  <h1 class="text-primary-emphasis">About our services</h1>
</div>
<div class="container-xxl d-md-flex justify-content-evenly pt-5">
  <div class="d-flex flex-column align-items-center">
    <div class="truck icon-circle  d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-truck"></i>
    </div>
    <p class="text-primary-emphasis">Fastest delivery service</p>
  </div>
  <div class="d-flex flex-column align-items-center">
    <div class="map icon-circle  d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-map-location-dot"></i>
    </div>
    <p class="text-primary-emphasis">Free delivery service</p>
  </div>
  <div class="d-flex flex-column align-items-center">
    <div class="money icon-circle d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-money-bill-transfer left-money"></i>
      <i class="fa-solid fa-money-bill-transfer right-money"></i>
    </div>
    <p class="text-primary-emphasis">Return service</p>
  </div>
</div>
