img {
  width: 100%;
  height: 100%;
}

.icon-div {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 992px) {
    .icon-div {
        display: none;
    }
    .right-div {
      padding: 0 !important;
    }
}
